.slide-container {
    width: 75%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.slide-container  .welcome {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-container h2 {
    margin-bottom: 1rem;
}

#container {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

#slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

#slide img {
    width: 60%;
}